.hidden-field {
    position: relative;
    align-content: center;
}

.toggle-hidden {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    height: 14px;
    width: 14px;
    cursor: pointer;
}

.toggle-hidden svg {
    margin: auto;
}
