.participant-card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 0 rgba(65, 64, 69, 0.2);
    width: 302px;
    border-radius: 12px;
}

.participant-card--background {
    position: relative;
    height: 188px;
    overflow: hidden;
}

.participant-card--updated {
    position: absolute;
    padding: 4px 6px;
    text-transform: uppercase;
    top: 13px;
    left: 12px;
    font-size: 10px;
    line-height: 16px;
    background-color: var(--participant-updated-color);
    font-weight: 600;
    border-radius: 4px;
}

.participant-card--background,
.participant-card--background-image {
    border-radius: 12px 12px 0 0;
}

.participant-card--info {
    flex: 1;
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    background-color: var(--participant-card-color);
    padding: 16px;
    transition: all var(--animation-fast) ease;
}

.participant-card:hover .participant-card--info {
    background-color: var(--participant-card-color-hover);
}

.participant-card--other-services {
    color: var(--other-services-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
}

.participant-card--text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.participant-card--title {
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.participant-card--location {
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 16px;
}

.participant-card--services-btn {
    line-height: 16px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 16px;
    padding: 3px 8px 2px 8px;
    text-transform: uppercase;
}

.participant-card--picture {
    position: absolute;
    top: 188px;
    transform: translateY(-40%);
    right: 16px;
    height: 50px;
    width: 50px;
    background-color: var(--profile-picture-bg-color);
    border-radius: 50%;
    border: 1px var(--profile-picture-border-color) solid;
    box-shadow: 0 0 2px 0 rgba(65, 64, 69, 0.2);
}

.participant-card--picture-image {
    border-radius: 50%;
}

.participant-card--nav-menu {
    display: flex;
    justify-content: space-between
}
