a {
    color: inherit;
    text-decoration: none;
}

a:disabled,
Link:disabled {
    color: var(--link-btn-text-color-inactive);
    text-decoration: none;
}

.link__underline {
    position: relative;
}

.link__underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--link-btn-text-color-active);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--animation-normal) ease;
}

.link__underline:hover::after {
    transform: scaleX(1);
}

.link__underline:disabled::after {
    background-color: var(--link-btn-text-color-inactive);
}

.link-right-arrow {
    position: relative;
    padding-right: calc(18px + 9px);
}

.link-right-arrow::after {
    content: " ";
    background-image: url('../../public/pictures/svg/arrow-right.svg');
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    background-position: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
}

.link-right-arrow:hover::after {
    transform: translateX(4px);
}
