/* Reset styles */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
a,
List{
    margin: 0;
    padding: 0;
    font-family: var(--text-font), sans-serif;
    font-size: 16px;
}

html,
body {
    height: 100%;
}

/* Chrome, Edge, Safari display “eyeballing” by default */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-webkit-textfield-decoration-container {
    display: none !important;
}

ul {
    padding-left: 24px;
}

li {
    font-family: var(--text-font), sans-serif;
    font-size: 14px;
    font-weight: 400;
}
