:root {
    /* text font */
    --text-font: 'Geologica';

    /* text colors  */
    --primary-text-color: #000;
    --secondary-text-color: #959595;
    --alternative-text-color: #fff;
    --error-text-color: #F15831;
    --gray-text-color: #25292C;

    /* background colors */
    --green-bcg-color: #B4D27A;

    /* hr colors */
    --light-gray-hr-color: #EDEDED;

    /* header */
    --header-bcg-color: #fff;

    /* footer */
    --footer-bcg-color: #232424;
}
