.home {
    display: flex;
    flex-direction: column;
}

/* Container */

.home--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(1512px - 104px * 2);
    margin: 0 auto;
}

.home--container__direction-row {
    flex-direction: row;
}

.home--container__text-align-center {
    text-align: center;
}

.home--container__padding-wide {
    padding: 80px 104px;
}

.home--container__padding-narrow {
    padding: 32px 104px;
}

/* Section */

.home--section__green {
    background: var(--green-bcg-color);
}

.home--section__white {
    background: var(--white-bcg-color);
}

.home--section__yellow {
    background: var(--yellow-bcg-color);
}

/* Title */

.home--title {
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
}

/* Hero section */

.hero--title-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 63px;
}

.hero--logo-title {
    font-size: 48px;
    margin-bottom: 14px;
}

.hero--text-title {
    font-size: 40px;
    margin-bottom: 30px;
}

.hero--pictures {
    flex: 0 0 auto;
    text-align: center;
}

/* New participants */

.participants--title-container {
    display: flex;
    margin-bottom: 24px;
    width: 100%;
    align-items: center;
}

.participants--title__flex {
    flex: 1;
}

.participants--link {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    padding: 2px 0;
}

.participants--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    grid-auto-rows: 1fr;
}

.participants--grid-item {
    place-self: center;
    height: 100%;
}

/* Get involved */

.involve--title__max-width {
    max-width: 694px;
}

.involve--title__margin {
    margin-bottom: 24px;
}

.involve--button__padding {
    padding: 13px 37px;
}

/* Target section */

.target--title__margin {
    margin-bottom: 40px;
}

.target--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    grid-auto-rows: 1fr;
    width: 100%;
}

.target--grid-item {
    display: flex;
    gap: 18px;
    padding: 18px;
    background-color: var(--for-whom-panel-color);
    border-radius: 6px;
    align-items: center;
}

.target--grid-item-picture {
    width: 36px;
    height: 36px;
}

.target--grid-item-title {
    line-height: 140%;
    font-size: 16px;
    font-weight: 600;
}

/* Benefits section */

.benefits--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    grid-auto-rows: 1fr;
    width: 100%;
}

.benefits--grid-item {
    min-height: calc(164px - 32px * 2);
    background-color: var(--benefits-panel-color);
    border-radius: 6px;
    padding: 32px 24px;
}

.benefits--grid-item-title {
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 16px;
}

.benefits--grid-item-title__margin {
    margin-bottom: 40px;
}

@media screen and (max-width: 1513px) {
    .home--container {
        max-width: calc(768px - 24px * 2);
    }

    .home--container__padding-wide {
        padding: 48px 24px;
    }

    .home--container__padding-narrow {
        padding: 32px 24px;
    }

    .hero--section {
        flex-direction: column-reverse;
    }

    .hero--title-container {
        margin-top: 40px;
        margin-right: 0;
        text-align: center;
        align-items: center;
    }

    .hero--logo-title {
        font-size: 40px;
    }

    .hero--text-title {
        font-size: 34px;
    }

    .participants--grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .target--grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .benefits--grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 769px) {
    .home--container {
        max-width: calc(375px - 16px * 2);
    }

    .home--container__padding-wide {
        padding: 40px 16px;
    }

    .home--container__padding-narrow {
        padding: 32px 16px;
    }

    .hero--logo-title {
        font-size: 34px;
    }

    .hero--text-title {
        font-size: 24px;
    }

    .participants--grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .participants--title__flex {
        font-size: 24px;
    }

    .target--grid-item {
        flex-direction: column;
        gap: 8px;
    }

    .target--grid-item-title {
        text-align: center;
        font-size: 14px;
    }

    .home--title {
        font-size: 24px;
    }

    .benefits--grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
