/* overall style */
.footer {
    display: flex;
    background-color: var(--footer-bcg-color);
    padding: 32px 104px 48px;
    color: var(--alternative-text-color);
}

.footer--hr {
    display: none;
}

/* section contacts */

.contacts {
    font-weight: 400;
}

.contacts--logo {
    margin-bottom: 35px;
}

.contacts--link {
    display: flex;
    gap: 10px;
}

.contacts--info > :not(:last-child) {
    margin-bottom: 10px;
}

.contacts--info {
    margin-bottom: 32px;
}

.contacts--links > :not(:last-child) {
    margin-bottom: 14px;
}

/* section link-tree */

.link-tree {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branch-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 35px;
}

.branch-list--branch {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.branch-list--title {
    font-weight: 700;
}

.branch-list--link-list {
    display: flex;
    gap: 24px;
}

.branch-list--item {
    font-weight: 400;
}

/* section dev-contact */

.dev-contact {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.dev-contact--list {
    display: flex;
    flex-direction: column;
    margin: 31px 0;
    color: var(--secondary-text-color);
    gap: 14px;
}

.dev-contact--copyright {
    font-weight: 300;
    line-height: 150%;
    height: 21px;
    font-size: 14px;
}

@media screen and (max-width: 1481px) {
    .footer {
        flex-direction: column;
        padding: 32px 24px;
    }

    .footer--hr {
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--alternative-text-color);
        margin: 32px 0;
    }

    .contacts {
        margin-bottom: 48px;
    }

    .contacts--content {
        display: flex;
        flex-direction: row;
    }

    .contacts--info {
        flex: 1;
        margin: 0;
    }

    .contacts--links {
        flex: 1;
    }

    .link-tree {
        align-items: normal;
    }

    .branch-list {
        flex-direction: row;
        justify-content: normal;
        gap: 0;
    }

    .branch-list--branch {
        flex: 1;
        gap: 24px;
    }

    .branch-list--link-list {
        flex-direction: column;
        gap: 24px;
    }

    .dev-contact {
        flex-direction: column-reverse;
    }

    .dev-contact--container {
        display: flex;
        margin-bottom: 32px;
    }

    .dev-contact--list {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        gap: 16px;
    }

    .dev-contact--copyright {
        align-self: center;
        margin-left: 102px;
    }
}

@media screen and (max-width: 646px) {
    .contacts--content {
        flex-direction: column;
        gap: 35px;
    }

    .dev-contact--container {
        flex-direction: column;
        gap: 32px;
    }

    .dev-contact--list {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        gap: 16px;
    }

    .dev-contact--copyright {
        align-self: normal;
        margin-left: 0;
    }
}
