.button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-family: var(--text-font), sans-serif;
    font-size: 14px;
    transition: all var(--animation-normal) ease;
}

.button__padding {
    padding: 10px 16px;
}

.button__primary-color {
    background-color: var(--primary-btn-bcg-color-active);
    color: var(--primary-btn-text-color-active);
}

.button__primary-color:hover {
    background-color: var(--primary-btn-bcg-color-hover);
    color: var(--primary-btn-text-color-active);
}

.button__primary-color:disabled {
    background-color: var(--primary-btn-bcg-color-inactive);
    color: var(--primary-btn-text-color-inactive);
    cursor: not-allowed;
}

.button__secondary-color {
    border: 1px solid var(--secondary-btn-text-color-active);
    background-color: var(--secondary-btn-bcg-color-active);
    color: var(--secondary-btn-text-color-active);
}

.button__secondary-color:hover {
    background-color: var(--secondary-btn-bcg-color-hover);
    color: var(--secondary-btn-text-color-active);
}

.button__secondary-color:disabled {
    background-color: var(--secondary-btn-bcg-color-inactive);
    color: var(--secondary-btn-text-color-inactive);
    cursor: not-allowed;
}

.button__danger-color {
    background-color: var(--danger-btn-bcg-color-active);
    color: var(--danger-btn-text-color-active);
}

.button__danger-color:hover {
    background-color: var(--danger-btn-bcg-color-hover);
    color: var(--danger-btn-text-color-active);
}

.button__danger-color:disabled {
    background-color: var(--danger-btn-bcg-color-inactive);
    color: var(--danger-btn-text-color-inactive);
    cursor: not-allowed;
}

.button__outline-color {
    background-color: transparent;
}
